<section id="section1">
  <h1>Hivemind Leaders</h1>
  <table>
    <thead>
      <tr>
        <th>Role</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Hive Lord</td>
        <td>Royce Nettles</td>
        <td>royce.nettles@adtran.com</td>
      </tr>
      <tr>
        <td>Lunch Captain</td>
        <td>Alex "Lee" Ward</td>
        <td>alex.ward@adtran.com</td>
      </tr>
      <tr>
        <td>Game Master</td>
        <td>Ben Williams</td>
        <td>benjamin.williams@adtran.com</td>
      </tr>
      <tr>
        <td>Trivia Captain</td>
        <td>Gary Pike</td>
        <td>gary.pike@adtran.com</td>
      </tr>
      <tr>
        <td>Frosbee Captain</td>
        <td>Jack Missildine</td>
        <td>jack.missildine@adtran.com</td>
      </tr>
      <tr>
        <td>Volleyball Captain</td>
        <td>Chris Stidham</td>
        <td>chris.stidham@adtran.com</td>
      <tr>
        <td>Ping Pong Captain</td>
        <td>Brandon Tucker</td>
        <td>brandon.tucker@adtran.com</td>
      </tr>
    </tbody>
  </table>
</section>
