<section id="section2">
  <h2>Activities</h2>
  <table>
    <thead>
      <tr>
        <th>Day</th>
        <th>Activity</th>
        <th>Location</th>
        <th>Contact</th>
        <th>Weather</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Monday</td>
        <td>Volleyball</td>
        <td>South Tower Lawn</td>
        <td>chris.stidham@adtran.com</td>
        <td><a href="https://weather.com/weather/hourbyhour/l/USAL0287:1:US">View Local Weather</a></td>
      </tr>
      <tr>
        <td>Tuesday</td>
        <td>Frosbee</td>
        <td>South Tower Lawn</td>
        <td>jack.missildine@adtran.com</td>
        <td><a href="https://weather.com/weather/hourbyhour/l/USAL0287:1:US">View Local Weather</a></td>
      </tr>
      <tr>
        <td>Wednesday</td>
        <td>Game Night</td>
        <td>Floating locations</td>
        <td>benjamin.williams@adtran.com</td>
        <td><a href="https://weather.com/weather/hourbyhour/l/USAL0287:1:US">View Local Weather</a></td>
      </tr>
      <tr>
        <td>Flexible Day</td>
        <td>Trivia</td>
        <td>Floating locations</td>
        <td>gary.pike@adtran.com</td>
        <td><a href="https://weather.com/weather/hourbyhour/l/USAL0287:1:US">View Local Weather</a></td>
      </tr>
    </tbody>
  </table>
</section>
