<nav id='nav'>
  <img class="img-responsive" src="/assets/images/output-onlinepngtools.png" alt="HiveHub">
  <ul>
    <li routerLink="" (click)="navToLeaders()">Home</li>
    <li routerLink="/lunch">Lunch</li>
    <li routerLink="" (click)="navToLeaders()">Hivemind Leaders</li>
    <li routerLink="" (click)="navToActivities()">Activities</li>
    <li routerLink="" (click)="navToInfo()">Helpful Info</li>
    <li routerLink="" (click)="navToLegends()">Legends</li>
  </ul>
</nav>
<router-outlet></router-outlet>
