<leaders></leaders>

<activities></activities>

<section id="section3">
  <h2>Your source for all things co-op!</h2>

  <table>
    <tbody>
      <tr><td><a href="https://confluence.adtran.com/display/COOP/Onboarding"><div>Confluence Onboarding</div></a></td></tr>
      <tr><td><a href="https://confluence.adtran.com/display/COOP/Acronyms"><div>Acronyms</div></a></td></tr>
      <tr><td><a routerLink="/help-page"><div>ADTRAN Learning Network</div></a></td></tr>
      <tr><td><a href="https://docs.google.com/spreadsheets/d/12QOl6XmhExjuD_iSQ3TaADtJLSnenzu20MzQZo5txOs/edit?usp=sharing"><div>Co-Op Contact Sheet</div></a></td></tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>Development Setup</th>
      </tr>
    </thead>
    <tbody>
      <tr><td><a href="https://confluence.adtran.com/display/VirtDevEnv/Sienna+Minivan+User+Guide"><div>Download Sienna Minivan</div></a></td></tr>
      <tr><td><a href="https://confluence.adtran.com/display/ComCoreSw/Service+Kit+-+Getting+Started"><div>Setup Perforce and Docker</div></a></td></tr>
      <tr><td><a href="https://confluence.adtran.com/pages/viewpage.action?pageId=15477240"><div>Setup Perforce for Ubuntu</div></a></td></tr>
      <tr><td><a href="https://confluence.adtran.com/display/~mhumes/Printing+on+Ubuntu+16.04"><div>Setup Printing on Ubuntu</div></a></td></tr>
    </tbody>
  </table>
</section>

<section id="section4">
  <h2>Legends</h2>
  <body>
    <table>
      <tbody>
        <tr><td><a routerLink="/legend"><div>Legend of the Time Cards</div></a></td></tr>
        <tr><td><a routerLink="/legend-robert"><div>Legend of Robert!</div></a></td></tr>
      </tbody>
    </table>
  </body>
</section>
